BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "RST" SITE "50" ;
LOCATE COMP "CLK" SITE "52" ;
LOCATE COMP "CNT_O[0]" SITE "37" ;
LOCATE COMP "CNT_O[1]" SITE "38" ;
LOCATE COMP "CNT_O[2]" SITE "39" ;
LOCATE COMP "CNT_O[3]" SITE "40" ;
LOCATE COMP "CNT_C" SITE "46" ;
